@charset "utf-8";
/* CSS Document */

a{
    text-decoration: none;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:0px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    min-height:500px;
    width:300px;
    float:left;
    padding:5px; 
}
#section {
    width:
    float:
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
